@model TODOList.Application.ViewModels.TodoListListVm
@{
ViewData["Title"]="Index";
}
<h1>Todo</h1>
@foreach(var list in Model.Lists)
{
<a asp-action="ListDetails" asp-route-id="@list.Id" class="btn btn-primary">@list.ListName</a>
}
<a asp-action="CreateList">Create New List</a>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Is Done</td>
            <td>Name</td>
            <td>Description</td>
            <td>Due Date</td>
            <td>List Name</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var list in Model.Lists)
        {
            @foreach (var item in list.Items.Items)
            {
        <tr>

            <td><input asp-for="@item.IsCompleted" /></td>
            <td>@item.Task</td>
            <td>@item.Description</td>
            <td>@(item.DueDate.HasValue? item.DueDate.Value.Date.ToShortTimeString():null)</td>
            <td>@list.ListName</td>
            <td><a asp-action="EditItem" asp-route-id="@item.Id">Edit</a> | <a asp-action="DeleteItem" asp-route-id="@item.Id">Delete</a></td>
        </tr>
            }
     
                    }

             
            </tbody>


</table>
